__pycache__/
*.py[cod]
*$py.class


venv/


build/
dist/
*.egg-info/


pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover


.env
.env.*


.vscode/


.DS_Store


Thumbs.db
ehthumbs.db
Desktop.ini

.idea/

.ipynb_checkpoints/
